﻿* {
	/* border: 1px dashed red; */
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: "Droid Sans", sans;
	font-size: 3vmin;
	height: 100%;
	margin: 0;
}

h1 {
	font-family: "Droid Serif", serif;
	font-size: 6vmin;
	font-weight: bold;
	margin: 0;
}

h2 {
	font-family: "Droid Serif", serif;
	font-size: 4.5vmin;
	margin: 0;
	margin-bottom: 3vmin;
}

h3 {
	font-family: "Droid Serif", serif;
	font-size: 3vmin;
	margin: 0;
}

html {
	position: relative;
}

nav {
	background-color: #404E66;
    display: flex;
	justify-content: center;
}

p {
	line-height: 5vmin;
	margin: 0;
}

.button {
	background-color: #404E66;
	color: white;
	padding: 3vmin;
	text-align: center;
	width: 20vmin;
}

	.button:hover {
		background-color: #B28E41;
}

.connect-icon-container {
	background-color: white;
	height: 15.25vmin;
	margin-bottom: 1.5vmin;
	margin-left: 1.5vmin;
	padding: 1.5vmin;
	width: 15.25vmin;
}

	.connect-icon-container img {
		width: 100%;
	}

.content-entry-container {
	display: flex;
	justify-content: center;
	padding-bottom: 9vmin;
 	padding-left: 5vmin;
	padding-right: 5vmin;
	padding-top: 9vmin;
	width: 100%;
}
	.content-entry-container .content-entry-project-link-icon-container {
		background-color: #B28E41;
	}

	.content-entry-container:nth-child(2n) {
		background-color: #B28E41;
		color: white;
	}

		.content-entry-container:nth-child(2n) .content-entry-project-link-icon-container {
			background-color: #404E66;
		}

		.content-entry-container:nth-child(2n) .content-entry-project-link a {
			background-color: #404E66;
		}

			.content-entry-container:nth-child(2n) .content-entry-project-link a:hover {
				background-color: #5E7DB2;
			}
		
		.content-entry-container:nth-child(2n) .resume-skill {
			background-color: #404E66;
		}

	.content-entry-container:nth-child(4n) {
		background-color: #404E66;
	}

		.content-entry-container:nth-child(4n) .content-entry-project-link-icon-container {
			background-color: #66593F;
		}

		.content-entry-container:nth-child(4n) .content-entry-project-link a {
			background-color: #66593F;
		}

			.content-entry-container:nth-child(4n) .content-entry-project-link a:hover {
				background-color: #5E7DB2;
			}

.content-entry-project-copy {
	margin-left: 3vmin;
	margin-right: 3vmin;
}

	.content-entry-project-copy:nth-child(odd) {
		text-align: right;
	}

.content-entry-project-link {
	margin-left: 3vmin;
	margin-right: 3vmin;
}

	.content-entry-project-link a {
		background-color: #B28E41;
		color: white;
		display: block;
		margin-top: 1.5vmin;
		padding: 1.5vmin;
		text-align: center;
	}

		.content-entry-project-link a:hover {
			background-color: #5E7DB2;
		}

.content-entry-project-link-icon-container {
	background-color: #B28E41;
	height: 17vmin;
	padding: 1.5vmin;
	width: 17vmin;
}

	.content-entry-project-link-icon-container:nth-child(4n) {
		background-color: #66593F;
	}

	.content-entry-project-link-icon-container img {
		width: 100%;
	}

.resume-skill {
	background-color: #B28E41;
	color: white;
	margin: 1.5vmin;
	padding: 3vmin;
	padding-right: 2.25vmin;
}

	.resume-skill img {
		height: 3.5vmin;
		width: 3.5vmin;
	}

	.resume-skill p {
		margin-right: .75vmin;
		width: 26vmin;
	}

.resume-skill-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.skills {
	flex-direction: column;
}

#bg {
	background-image: url("../images/binary.png");
	background-position: right top;
	background-repeat: repeat-y;
	bottom: 0;
	left: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
}

#connect {
	background-color: #B28E41;
	color: white;
	flex-direction: column;
	padding-right: 4.5vmin;
	padding-bottom: 9vmin;
	padding-top: 9vmin;
	text-align: right;
	width: 50%;
}

	#connect div {
		display: flex;
		flex-direction: row-reverse;
	}

#contact {
	text-align: center;
}

	#contact a {
		color: #B28E41
	}

	#contact img {
		width: 100%;
	}

	#contact p {
		width: 50vmin;
	}

	#contact-icon-container-email {
		background-color: #B28E41;
		height: 11vmin;
		margin-right: 6vmin;
		margin-top: 2vmin;
		padding: 1.5vmin;
		width: 11vmin;
	}

	#contact-icon-container-social {
		background-color: #66593F;
		height: 11vmin;
		margin-left: 6vmin;
		margin-top: 2vmin;
		padding: 1.5vmin;
		width: 11vmin;
	}

#contact-container {
	display: flex;
	width: 100%;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#divider-content-footer {
	background-color: #B28E41;
	height: 1vmin;
}

#divider-nav-content {
	background-color: #B28E41;
	height: 1vmin;
}

#email {
	flex-direction: column;
	padding-bottom: 9vmin;
	padding-left: 4.5vmin;
	padding-top: 9vmin;
	width: 50%;
}

	#email form {
		display: flex;
		flex-direction: column;
	}

	#email form input, textarea {
		font-size: 3vmin;
		margin-bottom: 1.5vmin;
		padding: 1.5vmin;
		width: 40vmin;
	}

	#email form textarea {
		height: 25vmin;
		resize: none;
	}

	#email form .button {
		border: none;
		cursor: pointer;
		width: 20vmin;
	}

		#email form *::placeholder {
			font-family: "Droid Sans", sans;
			font-size: 3vmin;
		}

#footer {
    background-color: #5E7DB2;
	color: white;
	font-size: 1.5vmin;
	padding: 3vmin;
	text-align: center;
}

#header {
	background-color: #5E7DB2;
    display: flex;
	padding: 3vmin;
	padding-top: 6vmin;
	position: relative;
}

#intro p {
	text-align: justify;
	width: 60vmin;
}

#intro span {
	background-color: #B28E41;
	color: white;
	float: left;
	font-family: "Droid Serif", serif;
	font-size: 6vmin;
	height: 8vmin;
	margin-right: 1.5vmin;
	margin-top: 1.25vmin;
	padding: 1.75vmin;
	padding-left: .9vmin;
	width: 8vmin;
}

#portrait-container {
	background-color: #0F5199;
	height: 17vmin;
	left: 3vmin;
	padding: 1.5vmin;
	position: absolute;
	top: 3vmin;
	width: 17vmin;
}

	#portrait-container img {
		width: 100%;
	}

#projects {
	background-color: #B28E41;
	color: white;
	text-align: right;
}

	#projects a {
		color: #404E66;
	}

	#projects img {
		width: 100%;
	}

	#projects p {
		margin-right: 3vmin;
		width: 42vmin;
	}

	#projects-icon-container-art {
		background-color: #0F5199;
		height: 11vmin;
		margin-left: 3vmin;
		margin-top: 2vmin;
		padding: 1.5vmin;
		width: 11vmin;
	}

	#projects-icon-container-design {
		background-color: #404E66;
		height: 11vmin;
		margin-left: 3vmin;
		margin-top: 2vmin;
		padding: 1.5vmin;
		width: 11vmin;
	}

	#projects-icon-container-programming {
		background-color: #5E7DB2;
		height: 11vmin;
		margin-left: 3vmin;
		margin-top: 2vmin;
		padding: 1.5vmin;
		width: 11vmin;
	}

#resume {
	text-align: right;
}

	#resume a {
		color: #5E7DB2;
	}

	#resume p {
		width: 60vmin;
	}

#resume-links {
	flex-direction: column;
}

	#resume-links a {
		height: 17vmin;
		margin-left: 3vmin;
		margin-right: 3vmin;
		width: 17vmin;
	}
	
	#resume-links img {
		width: 100%;
	}

#resume-links-icons-container {
	display: flex;
	justify-content: center;
}

#title-container {
	background-color: #0F5199;
	clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
		-webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
	height: 17vmin;
	width: 94vmin;
}

	#title-container h1 {
		color: white;
		padding-left: 20vmin;
		padding-top: 3vmin;
	}

	#title-container h3 {
		color: white;
		padding-left: 20vmin;
	}