* {
	/* border: 1px dashed orange; */
	box-sizing: border-box;
}

body {
	background-image: url("../images/hip-square.png");
	background-repeat: repeat;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 3vmin;
	margin: 0;
}

h1 {
	border-bottom: .5vmin solid black;
	color: black;
	font-size: 4vmin;
	margin: 0;
	margin-left: 3vmin;
	margin-right: 3vmin;
	margin-top: 1.5vmin;
}

h2 {
	color: #FFDD55;
	font-family: 'Rosarivo', serif;
	font-size: 4vmin;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h3 {
	color: #FFDD55;
	font-family: 'Rosarivo', serif;
	font-size: 2.5vmin;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	margin-top: 1.5vmin;
	padding: 0;
}

input, select, textarea {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 2vmin;
	resize: none;
}

nav {
	background-color: #124B72;
	padding-bottom: 1vmin;
	padding-top: 1vmin;
	width: 100%;
}

	nav a {
		color: white;
		font-size: 3vmin;
		padding: 3vmin;
		text-decoration: none;
	}

		nav a:hover {
			background-color: #3098DE;
		}

	nav div {
		display: flex;
		justify-content: center;
		position: relative;
		border-color: #E6E8A4;
		border-left: none;
		border-right: none;
		border-top-style: dashed;
		border-top-width: thin;
		border-bottom-style: dashed;
		border-bottom-width: thin;
		width: 100%;
	}

.content {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	justify-content: center;
	padding: 1.5vmin;
}

.list {
	display: flex;
	flex-flow: wrap;
}

	.list h3 {
		margin: auto;
		padding-right: .75vmin;
		text-align: right;
		width: 50%;
	}

	.list input {
		padding-left: .75vmin;
		width: 50%;
	}

	.list option {
		background-color: #A52B2A;
	}

	.list select {
		padding-left: .25vmin;
		width: 50%;
	}

.panel {
	background-color: #9D2322;
	height: 50vmin;
	margin: 1.5vmin;
	padding: 3vmin;
	width: 42.5vmin;
}

	.panel textarea {
		height: 38.04vmin;
		margin-top: 1.5vmin;
		padding-right: 1.5vmin;
		width: 100%;
	}

.table {
	display: flex;
	flex-flow: wrap;
	width: 87vmin;
}

	.table h3 {
		margin: auto;
		width: 25%;
	}

	.table h3:nth-child(2), .table h3:nth-child(3), .table h3:nth-child(4) {
		text-align: center;
	}
	
	.table h3:nth-child(4n+1) {
		text-align: right;
	}

	.table input {
		text-align: center;
		width: 25%;
	}

.double {
	display: flex;
	flex-flow: wrap;
	width: 87vmin;
}

	.double h3 {
		margin: auto;
		padding-right: 1.5vmin;
		text-align: right;
		width: 40%;
	}

	.double input {
		width: 10%;
	}

#portrait {
	height: auto;
	margin: auto;
	width: 100%;
}

#header {
	display: flex;
	justify-content: center;
	padding: 3vmin;
}

	#header div {
		background-image: url("../images/banner.png");
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 25.2vmin;
		position: relative;
		text-align: center;
		width: 90vmin;
	}

	#header input {
		background-color: rgba(0, 0, 0, 0);
		border: none;
		color: white;
		font-family: 'Rosarivo', serif;
		font-size: 6vmin;
		margin-bottom: 2vmin;
		margin-top: 8.25vmin;
		text-align: center;
		width: 90%;
	}